{% extends 'dashboard/index_admin.html' %}
{% load static %} 

{% block nav_title %}User Management{% endblock %}
{% block content %}


<div class="container-fluid px-2">

    <div class="container-fluid px-4 border rounded bg-white">
      <div class="application-header mt-4 align-items-center">
        <div class="d-flex">
          <div class="circle-icon bg-primary text-white">
            <span class="application-step-icon"></span>
          </div>
          <div class="application-info">
            <h6 class="text-primary"><strong>All Users.</strong></h6>
          </div>
        </div>
        <p>List of all users</p>
      </div>
  
      {% include "./users_table.html" %}
    </div>
  </div>
  
  
  <script>
    var csrf_token = '{{ csrf_token }}'
    var register_user_url = '{% url "register-user" %}'
    var deactivate_user_url = '{% url "deactivate-user" %}'
    var get_user_details_url = '{% url "get_user_details" 0 %}'; // Add a placeholder ID

  

    // Example to close the modal manually
  function closeModal() {
    $('#userModal').modal('hide');
  }

  </script>

  <script src="{% static 'js/users.js' %}"></script>


  
{% endblock %}
