
<div class="card">
    <div class="mx-3 mt-2">
    {% comment %} <button class="btn btn-primary float-right" id="verifyDocsButton">verify</button> {% endcomment %}
    {% comment %} <button class="btn btn-primary float-right mr-2" id="updateStudentDocuments">Update Documents</button> {% endcomment %}


    </div>
    <div class="card-body">

        <table class="table">
            <thead>
              <tr class="thead-dark">
                <th scope="col" class="fs-2 ">Doc</th>
                <th scope="col" class="fs-2 ">Type</th>
                <th scope="col" class="fs-2 ">Date</th>
                <th scope="col" class="fs-2 ">Status</th>
                {% comment %} <th scope="col" class="fs-2 ">Verify</th> {% endcomment %}
                <th scope="col" class="fs-2 ">Action</th>

              </tr>
            </thead>
            <tbody>
            {% for document in documents %}
              <tr>
                <th scope="row">
                   <p class="text-grey-dark"> {{ document.id }}</p>
                </th>
               
                <td>
                    <p class="fs-2 text-grey-dark">
                        {{ document.document_type.doc_type}}
                    </p>
                </td>

                <td>
                    <p class="fs-2 text-grey-dark">
                        {{ document.date_created|date:"j F Y" }}
                    </p>
                </td>
                {% comment %} <td>
                    {% if  document.is_verified == False %}
                        <span class="mt-2 badge badge-status-warning text-white font-weight-normal px-4 py-2 rounded-pill letter-spacing-1">Not verified</span>
                    {% elif document.is_verified == True %}
                        <span class="mt-2 badge badge-status-success text-white font-weight-normal px-4 py-2 rounded-pill letter-spacing-1">Verified</span>
                    {% endif %}
                </td> {% endcomment %}
                <td>
                    <div class="form-check">
                        <input class="form-check-input document-checkbox" type="checkbox" value="{{ document.id }}" id="{{ document.id }}">
                      </div>

                </td>
                <td class="d-flex">
                    <!-- Single "View" button -->
                    <button class="view-pdf-btn btn mr-1" data-document="{{ documentBase64 }}">View
                    <i class="fa-solid fa-eye text-warning"></i></button>
                  </button>

                    {% if  document.document_type.doc_type  == 'Next of Kins ID Document' %}
                     
                     <label for="app-nok-id-number-file" class="custom-upload-label" data-toggle="tooltip" data-placement="top" title="Update Next of Kins ID Document">
                        <i class="fas fa-cloud-upload-alt"></i>
                      </label>
                      <input type="file" class="form-control custom-upload-file" id="app-nok-id-number-file" name="app-nok-id-number-file" accept="application/pdf" style="display: none;"/>

                    {% elif  document.document_type.doc_type  == 'Proof of Residence' %}
                    
                    <label for="app-proof-of-residence-file" class="custom-upload-label" data-toggle="tooltip" data-placement="top" title="Update Proof of Residence Document">
                        <i class="fas fa-cloud-upload-alt"></i>
                      </label>
                        <input type="file" class="form-control"  id="app-proof-of-residence-file" name="app-proof-of-residence-file" accept="application/pdf" style="display: none;"/>
                    
                        {% elif  document.document_type.doc_type  == 'ID Number' %}
                    
                        <label for="app-id-number-file" class="custom-upload-label" data-toggle="tooltip" data-placement="top" title="Update ID Number">
                        <i class="fas fa-cloud-upload-alt"></i>
                      </label>
                        <input type="file" class="form-control"  id="app-id-number-file" name="app-id-number-file" accept="application/pdf" style="display: none;"/>
                    
                        {% elif  document.document_type.doc_type  == 'Proof of Registration' %}
                    
                        <label for="app-proof-of-registration-file" class="custom-upload-label" data-toggle="tooltip" data-placement="top" title="Update Proof of Registration">
                        <i class="fas fa-cloud-upload-alt"></i>
                      </label>
                        <input type="file" class="form-control"  id="app-proof-of-registration-file" name="app-proof-of-registration-file" accept="application/pdf" style="display: none;"/>                       
                    
                        {% elif  document.document_type.doc_type  == 'Proof of Funding' %}
                    
                        <label for="app-proof-of-funding-file" class="custom-upload-label" data-toggle="tooltip" data-placement="top" title="Update Proof of Funding">
                        <i class="fas fa-cloud-upload-alt"></i>
                      </label>
                        <input type="file" class="form-control"  id="app-proof-of-funding-file" name="app-proof-of-funding-file" accept="application/pdf" style="display: none;"/>
                    
                        {% endif %}


                </td>
            </tr>
            {% endfor %}
             
            </tbody>
          </table>


    </div>
</div>


<script>
  $(document).ready(function () {
    const viewDocumentButton = document.querySelector('.view-pdf-btn');

    viewDocumentButton.addEventListener('click', () => {
        // Get the base64-encoded document data from the button's data attribute
        const base64Document = viewDocumentButton.getAttribute('data-document');

        // Check the file type based on the base64 prefix
        const base64Prefix = base64Document.substring(0, 15);

        let mimeType;
        if (base64Prefix.includes('JVBER')) {
            mimeType = 'application/pdf';  // PDF base64 prefix starts with "JVBER"
        } else if (base64Prefix.includes('/9j/')) {
            mimeType = 'image/jpeg';  // JPEG base64 prefix starts with "/9j/"
        } else if (base64Prefix.includes('iVBOR')) {
            mimeType = 'image/png';  // PNG base64 prefix starts with "iVBOR"
        } else {
            alert('Unsupported file format');
            return;
        }

        // Decode the base64 string and convert it to a Blob
        const byteCharacters = atob(base64Document);
        const byteNumbers = new Array(byteCharacters.length);
        for (let i = 0; i < byteCharacters.length; i++) {
            byteNumbers[i] = byteCharacters.charCodeAt(i);
        }
        const byteArray = new Uint8Array(byteNumbers);
        const blob = new Blob([byteArray], { type: mimeType });

        // Create a URL for the Blob and open the document in a new tab
        const url = URL.createObjectURL(blob);
        window.open(url, '_blank');
    });
});


    
</script>
