{% load static %}
<div class="card">
    <div class="card-body">
        <h2 class="card-title">Reseller and Rica Agreement</h2>
        <table class="table">
            <thead>
                <tr class="thead-dark">
                    <th scope="col" class="fs-2">Contract</th>
                    <th scope="col" class="fs-2">Date Signed</th>
                    <th scope="col" class="fs-2">status</th>
                    <th scope="col" class="fs-2">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="d-flex">
                            <div class="applicant-initials">
                                <i class="fas fa-file-lines solid"></i>
                            </div>
                            <div class="ml-2">
                                <p class="mt-2 text-grey-dark">Reseller & Rica Agreement</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="fs-2 text-grey-dark">
                            <i class="fas fa-calendar-alt text-primary mr-2"></i>
                            {% if all_signed %}
                                {{ date_signed|date:"d M Y" }}
                            {% else %}
                                N/A
                            {% endif %}
                        </p>
                    </td>
                    <td>
                        <span class="badge {% if all_signed %}badge-success{% else %}badge-danger{% endif %}">
                            {% if all_signed %}
                                Signed
                            {% else %}
                                Not Signed
                            {% endif %}
                        </span>
                    </td>
                    <td class="d-flex">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle bg-white text-primary border-0" type="button" id="actionDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="actionDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#pdfModal" data-pdf-url="{% static 'contracts/1. BBD RICA_Reseller Agreement 20240304.pdf' %}">View contract</a>
                                <a class="dropdown-item" href="{% url 'contract' %}">view & sign contract</a>
                                <a class="dropdown-item" href="#" id="sign-now-button">Sign Now</a>
                                {% for document in signed_documents %}
                                <li>
                                    <a href="{% url 'view-signed-document' document.id %}">
                                        {{ document.name }} (Signed on {{ document.date_signed }})
                                    </a>
                                </li>
                            {% endfor %}


                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="pdfModal" tabindex="-1" role="dialog" aria-labelledby="pdfModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pdfModalLabel">PDF Document</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe id="pdfFrame" src="" width="100%" height="500px"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function() {
        $('#pdfModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var pdfUrl = button.data('pdf-url'); // Extract info from data-* attributes
            var modal = $(this);
            modal.find('#pdfFrame').attr('src', pdfUrl);
        });

        $('#chooseBtn').click(function() {
            var contractId = 'RA-2024'; // This should be dynamically set based on the chosen contract
            chooseContract(contractId);
        });
    });


        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("sign-now-button").addEventListener("click", function (event) {
                event.preventDefault();
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Have you read all our terms and conditions and agree to sign online?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, sign now!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Make an AJAX request to sign the document
                        signDocument();
                    }
                });
            });
    
            function signDocument() {
                fetch("{% url 'sign-document' %}", {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}",
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        "document_path": "system_management/static/contracts/1. BBD RICA_Reseller Agreement 20240304.pdf"
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        Swal.fire('Signed!', 'Your document has been signed.', 'success');
                    } else {
                        Swal.fire('Error!', 'There was an error signing your document.', 'error');
                    }
                })
                .catch(error => {
                    Swal.fire('Error!', 'There was an error signing your document.', 'error');
                });
            }
        });
    
   
</script>
